/* GENERAL */

html,
body {
   margin:0;
   padding:0;
   height:100%;
}

#container {
    min-height:100%;
    position:relative;
 }

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a {
    float: right;
    color:rgb(165, 160, 160);
}

.bodybackground {
    width: 100%;
    height: 100%;
    background-image: url("gravel.png");
    padding-bottom: 70px;
}
#name {
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding: 25px;
    font-weight: bold;
    text-align: center;
    font-size: 33px;
    width: 190px;
    height: 40px;
    background: #4aaaa5;
    color: white;
    float: left;
}
.header {
    border-bottom-color: lightgrey;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    width: 100%;
    height: 90px;
}
.headcenter {
    clear:both;
    margin: auto;
    width: 960px;
    height: 90px;
}
#about {
    margin-top: 30px;
    font-size: 20px;
    padding-right: 10px;
    border-right: 1px solid rgb(238, 235, 235);
}
#portfolio { 
     margin-top: 30px;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;   
    border-right: 1px solid rgb(238, 235, 235);
}
#contact {
    font-size: 20px;
    padding-left: 10px;
     margin-top: 30px;
}
#footer {
    margin-top: 0;
    position: absolute;
    bottom: 0;
    background-color: #666666;
    border-top: 7px solid #4aaaa5;
    padding-top: 20px;
    color: darkgrey;
    text-align: center;
    width: 100%;
    height: 40px;
}

/* #footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:40px; 
    background:#6cf;
 } */

.aboutbox {
    line-height: 26pt;
    color: grey;
    padding-top: 30px;
    padding-left: 20px; 
    padding-right: 20px;    
    width: 925px;
    margin: auto;
    height: 800 px;
    background-color: white;
}
#aboutme {
    padding-bottom: 15px;
    margin-bottom: 20px;
   margin: auto;
    width: 100;
    border-bottom: 1px solid grey;
    color: #4aaaa5;
    
}
#puppypic {
    padding-top: 20px;
    width: 180px;
    height: 150px;
    margin-left: 20px;
    margin-right: 20px;
    float:left;
}
.portfoliobox {
    background: white;
    margin:auto;
    width: 960px;
    height: 100%;
    border-bottom: 1px solid grey;
    color: #4aaaa5;
}
#portfoliohead {
    padding-top: 20px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    margin: auto;
    width: 920px;
    border-bottom: 1px solid grey;
    color: #4aaaa5;
}
.desc {
    overflow: hidden;
    background: #4aaaa5;
    color: white;
    position: relative;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -300%);
    font-size: 20px;
    
    
   
    
     
}

.gallery{
    /* display: inline-block; */
    overflow: hidden;
    overflow-clip-box: 0;
    margin: 10px;

}
.responsive {
   
    float: left;
    
}

@media only screen and (max-width: 960px) {
    /* .footer{
        width: 100%
    } */

}

@media only screen and (max-width: 768px) {
    #aboutme {
        width: 100%
    }
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
    .aboutbox{
        width: 49.99999%;
    }
    .headcenter {   
        width: 100%;
        clear:right;
        float:left;
    }
        @media only screen and (max-width: 640px) {
            #aboutme {
                width: 100%
            }
            .responsive {
              width: 49.99999%;
              margin: 6px 0;
            }
            .aboutbox{
                width: 49.99999%;
            }
            .headcenter {   
                width: 100%;
                clear:right;
                float:left;
        {
      }
      input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
      }
      
      input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
      input[type=submit]:hover {
        background-color: #45a049;
      }
      
      .contactcontainer {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
      }
}

/* ^contact form^ */
input[type=text]  {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  
      /* mediaquery */
  @media only screen and (max-width: 640px) {
  
   
    .responsive {
      width: 100%;
      margin: auto;
      
    }
   
}
    .aboutbox{
        text-overflow: clip;
        width: 49.99999%;
    }
    .headcenter {   
        width: 100%;
        clear:right;
        float:left;
    }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }


   
